* {
    -moz-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: "Georgia";
  background-image: url("../images/wfm-chalk-bg.jpg");
  }

.container {
  padding-top: 0;
  margin-right: 60px;
  margin-left: 60px;
}

div {
/*  padding: 20px;
  margin: 10px;*/
  /*border: 1px solid white;*/
}

a {
  color:  #ee7600; /*DarkOrange2*/
}

/*.row {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}*/

.main div {
  border: 1px solid black;
}

header { 
  padding: 0;
  padding-top: 30px;
  margin: 10px 10px 10px 0px;
  /*border: 1px solid red;*/
}

header:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.logo {
  padding: 0;
  margin: 0;
  float: left;
  border-color: green;
}

.logo img { 
  width: 100%; 
}

header h1 {
  text-indent: 20px;
  color: white;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.main {
  background-image: url("../images/wfm-paperTile-bg.jpg");
  float: left;
  width: 75%;
}

.main .inner{
  padding: 0;
  margin: 0;
}

.main div {
  padding: 5px;
  margin: 5px;
}

.upper div, .lower div {
  margin: .75em ;
}

.middle:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.middle div {
  padding: 0;
  margin: 0;
  border-color: orange;
}

.middle .column {
  width: 210px;
  margin: .75em;
  display: inline-block;
}

.column .instructions {
  border: 1px red solid;
}

.instructions img {
  float: left;
  padding-right: 5px;
}

.instructions h5 {
  color: #8b4513;
  margin: 0;
}

.column div {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.locations {
  text-align: center;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

button {
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.address {
  height: 150px;
}

/*********************************************
SIDEBAR FEATURES
**********************************************/
.sidebar {
  background-image: url("../images/wfm-paperTile-bg.jpg");
  float: right;
  width: 22%;
  height: 750px;
  padding: 0;
  margin: 0; 
}

#sidebar-title {
  background-color: #8b4513; /*SaddleBrown*/
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

#sidebar-title h3 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

.sidebar-content {
  padding: 20px 0 0 0; 
  margin: 0;
}

.category {
  margin: 0;
  padding: 0 0 0 1em;
}

.category p {
  margin: 10px;
}

.category p a {
  text-decoration: none;
}

.category a {
  color:  #ee7600; /*DarkOrange2*/
}

.category ul {
  padding: 0;
  margin: 10px;
}

.category li {
  list-style-type: none;
  margin: 5px 0 5px 0;
}

.category p:before { 
  color: red;
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

ul.sub-nav {
  display: none;
}

ul.visible {
  display: block;
  /*padding: 0, 0, 0, 10px;*/
  margin-left: 10px;
}

/*
@media all (min-width: 650px) {
  .row {
    width: 100%;
  }
}
*/
